* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:active,
input[type="checkbox"]:focus,
#select-input:hover,
#select-input:active,
#select-input:focus,
textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus,
label:focus,
.btn:active,
.btn.active {
  box-shadow: none !important;
  outline: transparent !important;
  border: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--prim-black);
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  overflow-x: hidden;
}
